/* Default styles for the webpage */
body {
  background-color: #fff;

}

/* Styles for the "night mode" */
body.night-mode {
  background-color: #000;
  color: #fff;
}
/* Default styles for links */
a {
  color: #00f;
}

/* Default styles for buttons */
button {
  background-color: #ccc;
  color: #000;
}

/* Styles for links in the "night mode" */
body.night-mode a {
  color: #fff;
}

/* Styles for buttons in the "night mode" */
body.night-mode button {
  background-color: #333;
  color: #fff;
}

